@import 'src/javascripts/components/darkMode/themes.scss';

// body
#root-app{
    @include themify($themes) {
        color: themed('textColor');  
        background-color: themed('backgroundColor');  
    }

    // navbar
    nav {
        @include themify($themes) {
            background-color: themed('navbarColor');
          }

        // chatter h1
        .display-4 {
            @include themify($themes) {
                color: themed('chatterColor');
                }
              }
                

        // <p> talk to anyone 
        .lead {
            @include themify($themes) {
                color: themed('talkToAnyoneColor');
                }
              } 
            }

    // text area          
    #messageArea {
        @include themify($themes) {
            background-color: themed('messageAreaColor');
          }
      }
              
    #send-button {
        @include themify($themes) {
            background-color: themed('sendButtonColor');
            color: themed('sendButtonTextColor');
          }
      }

    .clear {
        @include themify($themes) {
            background-color: themed('clearButtonColor');
            color: themed('clearButtonTextColor');
          }
      }
    

    .card-container {
        @include themify($themes) {
            background-color: themed('evenCardColor');
            color: themed('evenCardTextColor');
          }
      }

    .card-container-darker {
        @include themify($themes) {
            background-color: themed('oddCardColor');
            color: themed('oddCardTextColor');
          }
      }
    
}

