/* Chat containers */
#messages-zone{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: scroll;
}

.card-container {
    background-color: #2CC0B3;
    border-radius: 25px;
    height: 100%;
    margin: 1rem;
    width: 70%;
    padding: 15px;
}

.card-container-darker{
    background-color: #00897b;
    border-radius: 25px;
    height: 100%;
    margin: 1rem;
    width: 70%;
    padding: 15px;
}

#odd {
  float: left;
}

h5 {
  margin: 0px;
  color: #F4733D;
} 

.message {
  margin-bottom: 5px;
}

  /* Style images */
.container img {
    float: left;
    max-width: 40px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }

  /* Style the right image */
.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }

   span {
   display: inline-block;
 } 

  /* Style time text */
.time-right {
    float: right;
    color: #38595E;
    margin-top: -10px;
  }
  
  /* Style time text */
  .time-left {
    float: left;
    color: #2CC0B3;
    margin-top: -10px;
  }
  