/* Chat containers */

#messages-zone{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card-container {
    background-color: #4db6ac;
    border-radius: 25px;
    height: 100px;
    margin: 1rem;
    width: 99%;
    padding: 15px;
    border: solid 1px white;;
}

.card-container-darker{
    background-color: #2b9186;
    border-radius: 25px;
    height: 100px;
    margin: 1rem;
    width: 99%;
    padding: 15px;
    border: solid 1px white;;
}

  /* Style images */
.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }

  /* Style the right image */
.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  

  /* Style time text */
.time-right {
    float: right;
    color: #aaa;
    margin-top: -30px;
  }
  
  /* Style time text */
  .time-left {
    float: left;
    color: #999;
    margin-top: -30px;
  }
  