$themes: (
  light: (
    backgroundColor: #fff,
    textColor: black,
    navbarColor: #c6c6c6,
    chatterColor: #004d40,
    talkToAnyoneColor: #f57f17,
    messageAreaColor: whitesmoke,
    sendButtonTextColor:#004d40,
    clearButtonColor: #4db6ac,
    clearButtonTextColor: black,
    evenCardColor:#4db6ac,
    evenCardTextColor:black,
    oddCardColor: #009688,
    oddCardTextColor: black,
    
  ),
  dark: (
    backgroundColor: #0c3336,
    textColor: white,
    navbarColor: #212529,
    chatterColor:#2CC0B3,
    talkToAnyoneColor: #2CC0B3,
    messageAreaColor: #2CC0B3,
    sendButtonTextColor: #F4733D,
    clearButtonColor: #343a40,
    clearButtonTextColor:#2CC0B3,
    evenCardColor: #343a40,
    evenCardTextColor: #2CC0B3,
    oddCardColor: #38595E,
    oddCardTextColor:#212529,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
